<%= form_for(@poster) do |f| %>
  <% if @poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% @poster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <% if @tags %>
    <div class="field">
      <%= f.label :tags %>
        <% @tags.each do |tag| %>
          <% flg = 0 %> 
          <% if @p_tags %>
            <% @p_tags.each do |p_tag| %>
              <% if p_tag.id == tag.id %>            
                <% flg = 1 %> 
              <% end %> 
            <% end %> 
          <% end %> 
          <%= check_box_tag 'poster[tag_ids][]', tag.id, ('checked' if flg == 1 ) %>  
          <%= label_tag tag.name %>  
        <% end %> 
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
