<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Poster List:</strong><br>
    <% @posters.each do |poster| %>
      <%= poster.title %> <br> 
    <% end %> 
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
